@{
    Layout = null;
}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/images/logo.jpeg" alt="Logo" style="height: 50px;" />
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">firma</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Ana Menü</div>
            </a>
        </li>

        <!-- Sabit Yanma -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-flame"></i>
                <div data-i18n="SabitYanma">Yakıtlar - Sabit Yanma</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Calculation/FixedCombustion" class="menu-link">
                        <div data-i18n="Dogalgaz">Doğalgaz</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Calculation/FixedCombustionDiesel" class="menu-link">
                        <div data-i18n="Dizel">Dizel</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Calculation/FixedCombustionGasoline" class="menu-link">
                        <div data-i18n="Benzin">Benzin</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Calculation/FixedCombustionLPG" class="menu-link">
                        <div data-i18n="LPG">LPG</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Calculation/FixedCombustionSummary" class="menu-link">
                        <div data-i18n="Ozet">Özet Rapor</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Mobil Yanma -->
        <li class="menu-item">
            <a href="/Calculation/MobileCombustion" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-car"></i>
                <div data-i18n="MobilYanma">Şirket Araçları - Mobil Yanma</div>
            </a>
            <ul class="menu-sub">
                <!-- On-Road Araçlar -->
                <li class="menu-item">
                    <a href="/Calculation/MobileOnRoad" class="menu-link menu-toggle">
                        <div data-i18n="OnRoadAraclar">On-Road Araçlar</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/Calculation/MobileOnRoadDiesel" class="menu-link">
                                <div data-i18n="OnRoadDizel">Dizel</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Calculation/MobileOnRoadGasoline" class="menu-link">
                                <div data-i18n="OnRoadBenzin">Benzin</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Calculation/MobileOnRoadLPG" class="menu-link">
                                <div data-i18n="OnRoadLPG">LPG</div>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <!-- Off-Road Araçlar -->
                <li class="menu-item">
                    <a href="/Calculation/MobileOffRoad" class="menu-link menu-toggle">
                        <div data-i18n="OffRoadAraclar">Off-Road Araçlar</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/Calculation/MobileOffRoadDiesel" class="menu-link">
                                <div data-i18n="OffRoadDizel">Dizel</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Calculation/MobileOffRoadGasoline" class="menu-link">
                                <div data-i18n="OffRoadBenzin">Benzin</div>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="menu-item">
                    <a href="/Calculation/MobileCombustionSummary" class="menu-link">
                        <div data-i18n="Ozet">Özet Rapor</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>